                                                                         Cascading Style Sheet 
(CSS acronym)Is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
CSS3, Tailwind CSS

🔴🟡🟢  https://fonts.google.com/ : Access Different Fonts From Google
-> Add  ( <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> )To The Header tag   
-> In CSS add  font-family: "Press Start 2P";
-> search for more fonts 
















 Three Types of Representing CSS
    1. Inline CSS (INSIDE HTML TAG)
   /* <body style="background-color: rgb(255, 140, 0);color:aqua"></body>
    <h1 style="color:rgb(253, 1, 1)">This is a Website</h1> */


    2. Internal CSS (INSIDE HTML FILE)
    /* <head>
    <title>HTML-CSS</title>
    <style>
        body{
            background-color: black;
            color:rgb(19, 197, 22)
        }
        h1{
            color:rgb(255, 2, 162)
        }
        p{
            color:antiquewhite;.
        }
    </style>
</head> /*/


    3. External CSS ( SEPARATE CSS FILE)
    <link rel="stylesheet" href="style.css">


accesing Using Different Names:
1. id  use # Hastag 
<h1 id="one"> HELLO </h1>    
 #one{
   color:"white";
 }

2. Using Class (use . )
<h1 class="odd" >This is a Website</h1>
 .odd{
            background-color: grey;
        }




color : adding colour to text 
background-color : adding background colour 
font-size :  Defines The size of the Text
font- style : Styling the Text ( italic , bold )
font-weight : bold defining size
font-decoration : Decorating text like underlining
⚪🔵🟤🔴🟠🟡🟢🔵⚫⚪
