                                                                         Cascading Style Sheet 
(CSS acronym)Is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
CSS3, Tailwind CSS

🔴🟡🟢  https://fonts.google.com/ : Access Different Fonts From Google
-> Add  ( <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> )To The Header tag   
-> In CSS add  font-family: "Press Start 2P";
-> search for more fonts 
















 Three Types of Representing CSS
    1. Inline CSS (INSIDE HTML TAG)
   /* <body style="background-color: rgb(255, 140, 0);color:aqua"></body>
    <h1 style="color:rgb(253, 1, 1)">This is a Website</h1> */


    2. Internal CSS (INSIDE HTML FILE)
    /* <head>
    <title>HTML-CSS</title>
    <style>
        body{
            background-color: black;
            color:rgb(19, 197, 22)
        }
        h1{
            color:rgb(255, 2, 162)
        }
        p{
            color:antiquewhite;.
        }
    </style>
</head> /*/


    3. External CSS ( SEPARATE CSS FILE)
    <link rel="stylesheet" href="style.css">


accesing Using Different Names:
1. id  use # Hastag 
<h1 id="one"> HELLO </h1>    
 #one{
   color:"white";
 }

2. Using Class (use . )
<h1 class="odd" >This is a Website</h1>
 .odd{
            background-color: grey;
        }

/********************************************************************   ADDING BORDER  ****************************************************************************************/

<h1>This is my Website </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, repellendus et eum sunt nulla velit dolor ratione adipisci praesentium, eius quasi quae earum! Aut, tenetur. Rerum nulla dolor itaque consequatur!</p>

CSS:
h1{
    color: blue;
    border-top-style: dotted;
    border-bottom-style: solid;
    border-left-style:dashed;
    border-right-style: double;
    padding:10px;
    border-right-width: 10px;
    border-right-color: rgb(255, 200, 0);
    border-top-width: 10px;
    border-top-color: rgb(234, 7, 7);
    border-bottom-width: 10px;
    border-bottom-color: rgb(38, 255, 0);
    border-left-width: 10px;
    border-left-color: blue;

  }

p{
  border-style  : solid;
  border-width: 5px;
  border-color: sandybrown;
  border-radius: 10px; 
  padding: 10px;

}
  /********************************************************************   ADDING BORDER IMAGES  ****************************************************************************************/

 body{
  background-image: url(tom_and_jerry.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1{
  background : linear-gradient(to right, rgb(0, 0, 233), rgb(207, 207, 8));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p{
  background : linear-gradient(to top, blue, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/******************************************************************** MARGIN   ****************************************************************************************/

  Space Around The Body
   padding : 10px;
  background : rgb(72, 151, 72);
   margin-left: auto;
 }
/******************************************************************** MARGIN   ****************************************************************************************/


 <img  src="a.jpg" width="125px" >
  <img  src="b.jpg" width="125px">
  <img  src="c.jpg" width="125px">

    <div class="box">BOX 1</div>
    <div class="box">BOX 2</div>
    <div class="box">BOX 3</div>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione eveniet ex quae voluptatem facere illum culpa nesciunt, voluptates cupiditate et, quaerat sapiente doloribus cum molestiae consequuntur earum aut facilis.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione eveniet ex quae voluptatem facere illum culpa nesciunt, voluptates cupiditate et, quaerat sapiente doloribus cum molestiae consequuntur earum aut facilis.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione eveniet ex quae voluptatem facere illum culpa nesciunt, voluptates cupiditate et, quaerat sapiente doloribus cum molestiae consequuntur earum aut facilis.</p>



img{
  float: left;
 }

 .box{
  width:120px;
  height:120px;
  border:2px solid;
  font-size:30px;
  text-align:center;
  background-color:rgb(238, 74, 74);
  float:left /*positions an element to the left of its container */;
 }
p{
  clear:both; /* left right or both */
  
/********************************************************************  POSITION   ****************************************************************************************/

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione eveniet ex quae voluptatem facere illum culpa nesciunt, voluptates cupiditate et, quaerat sapiente doloribus cum molestiae consequuntur earum aut facilis.</p>
    
    <div class="box1"> <div class="box2"> </div></div>
    
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione eveniet ex quae voluptatem facere illum culpa nesciunt, voluptates cupiditate et, quaerat sapiente doloribus cum molestiae consequuntur earum aut facilis.</p>
     
   

 .box1{
  width:300px;
  height:300px;
  border:2px solid;
  background-color:rgb(41, 196, 227);
  position: relative; /* relative: we can move*/
  top: 50px; /* move down 50px */
 left: 50px; /* move right 100px */

 }

 .box2{
  width:100px;
  height:100px;
  border:2px solid;
  background-color:rgb(91, 50, 157);
    position: absolute;  /* absolute can be taken*/
    top : 100px;
    left:100px;

 }
   fixed: The element is positioned relative to the browser window. It will not move when you scroll.
absolute:  moves back(())The element is positioned relative to its nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). If an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with scrolling.
relative: The element is positioned relative to its normal position. Setting the top, right, bottom, and left properties of a relatively-positioned element will cause it to be adjusted away from its normal position. Other content will not be adjusted to fit into any gap left by the element.
stickuy: The element is treated as relative positioned until it crosses a specified point, then it is treated as fixed positioned.
 

/********************************************************************  DEFINITION   ****************************************************************************************/

color : adding colour to text 
background-color : adding background colour 
font-size :  Defines The size of the Text
font- style : Styling the Text ( italic , bold )
font-weight : bold defining size
font-decoration : Decorating text like underlining

border-style : adding border like solid ,dashed, dotted ,initial , inset,outset etc.
⚪🔵🟤🔴🟠🟡🟢🔵⚫⚪
